<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MCMS.Properties.Settings.mcmsConnectionString" connectionString="server=localhost;User Id=root;password=root;database=mcms;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>